<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #formRefElem="ngForm">
        <div class="form-group">
          <label for="subs">Subscription</label>
          <select id="subs" name="subscriptionField" [ngModel]="defaultSubscription" class="form-control">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="professional">Pro</option>
          </select>
        </div>
        <hr>
        <div class="form-group">
          <label for="mail">Email</label>
          <input type="email" id="mail" name="emailField" ngModel class="form-control" required email #emailRefElem="ngModel">
          <span class="help-block" *ngIf="!emailRefElem.valid && emailRefElem.touched">Please enter a valid email!!</span>
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input id="pass" type="password" id="pass" name="passwordField" ngModel class="form-control" required #passRefElem="ngModel">
          <span class="help-block" *ngIf="!passRefElem.valid && passRefElem.touched">The password should not be empty!!</span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!formRefElem.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
        <h3>Submitted data</h3>
        <p>Subscription: {{ submittedFormReview.subscription }}</p>
        <p>Email: {{ submittedFormReview.email }}</p>
        <p>Password: {{ submittedFormReview.password }}</p>
    </div>
  </div>
</div>
